<div class="account-dropdown">
    <button>
        <img src="img/avatar-mini.png" alt="">
        <span>John</span>
    </button>
    <div class="account-dropdown--menu">
        <a href="#">Settings</a>
        <a href="#">Log out</a>
    </div>
</div>