<div class="modal fade" id="cropImage" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                <img src="img/close.png" alt="">
            </button>
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center">Edit your account photo</h5>
            </div>

            <div class="modal-body pt-0">
                <div class="accent-area c-area">
                    <div class="row">
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-7">
                            <p class="text-uppercase"><b>Upload photo</b></p>
                            <div class="min-image-upload">
                                <div class="min-image-upload__container w-100">
                                    <span class="filename">Browse image</span>
                                    <button>Upload</button>
                                    <input class="overlay-input" type="file">
                                </div>
                            </div>
                            <p class="">
                                <small>Requairements for image: png, jpg
                                not more 10 Mb, 250x250 px</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>