
.min-image-upload {
    @include flex-space-between();

    &__container {
        @include flex-space-between();
        padding: 5px 5px 5px 20px;
        background-color: $white;
        color: #A7A7AA;
        width: 80%;
        position: relative;

        button {
            @extend .btn;
            @extend .btn-gray;
        }
        .overlay-input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            color: transparent;
            width: 100%;
            height: 100%;
        }
    }

    .img-preview {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;
    }
}