.account-dropdown {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    position: relative;
    background-color: #FAF8F8;
    transition: 0.2s;

    @include media-breakpoint-down(sm){
        display: none;
    }
    
    > button {
        background-color: transparent;
        border: none;
        position: relative;
        padding-right: 40px;
        display: flex;
        outline: none;
        cursor: pointer;
        align-items: center;
        @include media-breakpoint-down(lg) {
            padding-right: 0px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #AFAFAF;
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        span {
            @include font-style(16px, #414141, $font-bold);
            text-transform: uppercase;
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        img {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            margin-right: 25px;
            @include media-breakpoint-down(lg) {
                margin-right: 0;
            }

        }
    }

    &--menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $white;
        padding: 20px;
        transition: 0.3s;
        box-shadow: 0 11px 30px rgba(37,33,42,.1);
        width: 100%;
        z-index: 9;
        a {
            display: block;
            @include font-style(16px, #414141, $font-bold);
            text-transform: uppercase;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color: $primary;
            }
        }
    }
    
    &.open {
        background-color: $white;
        &:before {
            content: '';
            right: 98%;
            height: 100%;
            position: absolute;
            top: 0;
            box-shadow: 0 0 30px rgba(37,33,42,.1);
            width: 4px;
            z-index: -1;
        }
        .account-dropdown--menu {
            visibility: visible;
            opacity: 1;
        }
    }
}