.chart-wrapper {
    position: relative;
    background: rgb(54,48,61);
    background: -moz-linear-gradient(top, rgba(54,48,61,1) 0%, rgba(20,18,23,1) 100%);
    background: -webkit-linear-gradient(top, rgba(54,48,61,1) 0%,rgba(20,18,23,1) 100%);
    background: linear-gradient(to bottom, rgba(54,48,61,1) 0%,rgba(20,18,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36303d', endColorstr='#141217',GradientType=0 );
}
.chart-title {
    @include font-style(20px, #888888, $font-regular);
}