
.corner {
    position: absolute;
    width: 0;
    height: 0;

    &.left-top {
        left: 0;
        top: 0;
        border-left: 0px solid transparent!important;
        border-right: 30px solid transparent!important;
        border-top: 17px solid;
    }
    &.right-top {
        right: 0;
        top: 0;
        border-left: 30px solid transparent!important;
        border-right: 0px solid transparent!important;
        border-top: 17px solid;
    }
    &.left-bottom {
        left: 0;
        bottom: 0;
        border-left: 0px solid transparent!important;
        border-right: 30px solid transparent!important;
        border-bottom: 17px solid;
    }
    &.right-bottom {
        right: 0;
        bottom: 0;
        border-left: 30px solid transparent!important;
        border-right: 0px solid transparent!important;
        border-bottom: 17px solid;
    }

    &.purple {
        border-color: #463d51;
    }

    &.gold {
        border-color: $primary;
    }

    &.white {
        border-color: $white;
    }
}
