.game-card {
    background-color: #fff;
    box-shadow: 0 0 0 transparent;
    transition: 0.3s;

    &--image {
        height: 260px;
        transition: 0.3s;
        opacity: 1;
        @include bg-cover();
    }
    &--content {
        padding: 25px 30px;
        background-color: #FDFAF2;

        .price-box {
            line-height: 1;
            white-space: nowrap;
        }
    }
    .g-title {
        @include font-style(22px, #463D51, $font-semibold);
        transition: 0.3s;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--footer {
        @include flex-space-between();
        @include font-style(18px, rgba(99, 94, 107, 1), $font-regular);
        margin-top: 10px;

        .readmore {
            @include font-style(16px, #221F26, $font-bold);
            text-transform: uppercase;
        }
    }


    /* card hover */
    &:hover {
        box-shadow: 0 0 50px rgba($primary, .5);
        .g-title {
            color: $primary;
        }
        .game-card--content {
            background-color: #fff;
        }
        .game-card--image {
            opacity: 0.8;
        }
        .platform-icon {
            color: #808080;
        }
    }

    .platform-icon {
        font-size: 28px;
        line-height: 1;
        color: #7F7D79;

        [class*="android"] {
            color: #83CA00;
        }
    }
}

