header.page-header {
    box-shadow: 0 0 40px rgba(0,0,0,.1);
    display: flex;

    .show-menu,
    .logo {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    .show-menu {
        float: right;
        background-color: transparent;
        border: none;
        outline: none;
        color: #666666;
        font-size: 20px;
    }

    .logo {

    }

    .header-menu {
        display: none;
        width: 100%;

        @include media-breakpoint-up(md) {
            display: flex;
            padding: 0 20px;
        }
        &--left, &--right {
            @extend .d-flex;
            width: 50%;
        }
        &--left {

        }
        &--right {
            justify-content: flex-end;

            .btn {
                height: 100%;
                @include flex-center();
                padding: .5rem 3rem;
                @include media-breakpoint-down(lg) {
                    padding: .5rem 1rem;
                }
            }
            &--menu {
                display: flex;
                li {
                    margin: 0 22px;
                    @include media-breakpoint-down(lg) {
                        margin: 0 15px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .top-search {
            width: 80%;
            height: 100%;
            @include media-breakpoint-down(lg) {
                width: 90%;
            }
            input.query {
                width: 100%;
                background-color: #F5F5F5;
                height: 100%;
                border: none;
            }
        }
    }
} /* header.page-header */
