
.content {

    @include media-breakpoint-up(sm) {
        display: table;
        width: 100%;
        height: 100%;
        table-layout:fixed
    }
}

.page-wrapper {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    display: table-row;

    @include media-breakpoint-down(sm) {
        display: block;
    }
    aside.sidebar {
        width: 15.6%;
        background: $black url("../img/sidebar-bg.png") no-repeat center;
        background-size: cover;
        min-height: 100%;
        display: table-cell;
        //position: absolute;
        //top: 0;
        //left: 0;
        z-index: 999;
        padding: 45px 0;

        @include media-breakpoint-down(lg) {
            width: 20%;
        }
        @include media-breakpoint-down(sm) {
            display: block;
            width: 80%;
            left: -80%;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: 0.4s;

            &.open {
                left: 0;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .main {
        display: table-cell;
        width: 85.4%;
        vertical-align: top;

        @include media-breakpoint-down(lg) {
            width: 80%;
        }

        @include media-breakpoint-down(sm) {
            display: block;
            width: auto;

        }

        .navbar-brand {
            border: none
        }
        .header-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
.open ~ .sidebar-overlay {
    visibility: visible;
    opacity: 1;
}
.sidebar-overlay {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 99;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
}

aside.sidebar {
    .sidebar-logo {
        img {
            @include media-breakpoint-down(lg) {
                width: 80px;
            }

            @include media-breakpoint-up(xl) {
                width: 150px;
            }
        }
    }

    .sidebar-menu {
        margin: 85px 0;

        li {
            display: block;
            a {
                display: block;
                padding: 20px 0 20px 75px;
                @include font-style(20px, #9F8FB4, $font-bold);
                transition: 0.3s;

                &:hover, &.active {
                    background-color: $white;
                    color: $black;
                }
            }
        }
        @include media-breakpoint-down(lg) {
            margin: 20px 0;
            li {
                a {
                    padding: 10px 10px;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }
}

.main-content {
    padding: 75px;

    @include media-breakpoint-down(lg) {
        padding: 25px;
    }
    @include media-breakpoint-down(md) {
        padding: 15px;
    }

    > .card {
        margin-bottom: 45px;
    }
}
.space-sm-b {
    @include media-breakpoint-up(sm) {
        @include flex-space-between();
    }
}
.space-md-b {
    @include media-breakpoint-up(md) {
        @include flex-space-between();
    }
}
.space-lg-b {
    @include media-breakpoint-up(lg) {
        @include flex-space-between();
    }
}


.cover-layout {
    @include bg-cover();
    @include flex-center();
    min-height: 100%;
    width: 100%;
    position: relative;
    padding: 50px 0;

    .cover-logo {
        margin-bottom: 30px;
        text-align: center;
        a {
            display: inline-block;
            img {
                max-width: 100%;
            }
            @include media-breakpoint-down(md) {
                max-width: 200px;
            }
            @include media-breakpoint-down(sm) {
                max-width: 100px;
            }
        }
    }

    .cover-content {
        padding: 15px;
        margin: 0 auto;
        width: 100%;

        &.norrow {
            max-width: 800px;

            @include media-breakpoint-down(lg) {
                max-width: 600px;
            }
        }
    }
    .cover-form-width-limiter {
        margin: 0 auto;
        width: 100%;
        max-width: 280px;
    }
}
.left-top-gold ,
.right-bottom-purple {
    position: absolute;
}
.left-top-gold {
    top:0;
    left: 0;
    border-left: 0px solid transparent;
    border-right: 250px solid transparent;
    border-top: 150px solid $primary;

    @include media-breakpoint-down(lg) {
        border-right-width: 150px;
        border-top-width: 75px;
    }

    @include media-breakpoint-down(md) {
        border-right-width: 100px;
        border-top-width: 50px;
    }

    @include media-breakpoint-down(sm) {
        border-right-width: 50px;
        border-top-width: 25px;
    }
}
.right-bottom-purple {
    right: 0;
    bottom: 0;
    border-left: 250px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 150px solid $black;

    @include media-breakpoint-down(lg) {
        border-left-width: 150px;
        border-bottom-width: 75px;
    }

    @include media-breakpoint-down(md) {
        border-left-width: 100px;
        border-bottom-width: 50px;
    }

    @include media-breakpoint-down(sm) {
        border-left-width: 50px;
        border-bottom-width: 25px;
    }
}

.accent-area {
    background: rgba(#F6E8BF, .2);
}
.c-area {
  padding: 40px;
}
.price-box {
    @include flex-space-between();
    img {
        margin-right: 20px;
    }
    .amount {
        @include font-style(36px, $primary, $font-bold);
        &.smaller {
            @include font-style(30px, $primary, $font-bold);
        }
    }
}
.card-right-fixed {
    width: 195px;
    box-sizing: content-box;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
        width: auto;
    }
}

.content-flex {
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.d-table-xl {
    @media (min-width: 1400px) {
        display: table;
        width: 100%;
        > div {
            display: table-cell;
            vertical-align: top;
        }
    }
}

.bold-link {
    @include font-style(14px, #B2AFB5, $font-bold);
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
}
