//
// Base styles
//

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    box-shadow: 0 5px 30px rgba(37,33,42,.1);
    @include border-radius($card-border-radius);

    > hr {
        margin-right: 0;
        margin-left: 0;
    }

    > .list-group:first-child {
        .list-group-item:first-child {
            @include border-top-radius($card-border-radius);
        }
    }

    > .list-group:last-child {
        .list-group-item:last-child {
            @include border-bottom-radius($card-border-radius);
        }
    }
}

.card-body-inner,
.card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: 35px 65px;

    @include media-breakpoint-down(md){
        padding: 35px;
    }

    @include media-breakpoint-down(sm){
        padding: 20px;
    }
    p {
        color: #82798C;
        font-family: $font-regular;
        font-size: 18px;
        @include media-breakpoint-down(sm){
            font-size: 16px;
        }
    }
    &.space-0-lg {
        @include media-breakpoint-down(lg){
            padding: 0;
        }
    }
}

.card-body-inner {
    @include media-breakpoint-down(md){
        padding: 20px;
    }
}

.card-title {
    margin-bottom: $card-spacer-y;
}

.card-subtitle {
    margin-top: -($card-spacer-y / 2);
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link {
    @include hover {
        text-decoration: none;
    }

    + .card-link {
        margin-left: $card-spacer-x;
    }
}

//
// Optional textual caps
//

.card-header {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    text-transform: uppercase;
    position: relative;

    &:first-child {
        @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }

    + .list-group {
        .list-group-item:first-child {
            border-top: 0;
        }
    }

    .settings-btm {
        background-color: #9D9D9D;
        @include font-style(16px, $white, $font-bold);
        border: none;
        padding: 10px 55px;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(md) {
            padding: 10px 45px;
            font-size: 14px;
        }
    }
    &.top-space {
        @include media-breakpoint-up(xl) {
            padding-top: 215px !important;

            .card-header--left {
                top: 205px;
            }
        }

    }
}

.card-footer {
    padding: 25px;
    background-color: $card-cap-bg;

    &:last-child {
        @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
    }

    .sm {

    }
    &.black {
        background-color: #463D51;
        color: $white;
    }
}


//
// Header navs
//

.card-header-tabs {
    margin-right: -($card-spacer-x / 2);
    margin-bottom: -$card-spacer-y;
    margin-left: -($card-spacer-x / 2);
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -($card-spacer-x / 2);
    margin-left: -($card-spacer-x / 2);
}

// Card image
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $card-img-overlay-padding;
}

.card-img {
    width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    @include border-radius($card-inner-border-radius);
}

// Card image caps
.card-img-top {
    width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    @include border-top-radius($card-inner-border-radius);
}

.card-img-bottom {
    width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    @include border-bottom-radius($card-inner-border-radius);
}


// Card deck

.card-deck {
    display: flex;
    flex-direction: column;

    .card {
        margin-bottom: $card-deck-margin;
    }

    @include media-breakpoint-up(sm) {
        flex-flow: row wrap;
        margin-right: -$card-deck-margin;
        margin-left: -$card-deck-margin;

        .card {
            display: flex;
            // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
            flex: 1 0 0%;
            flex-direction: column;
            margin-right: $card-deck-margin;
            margin-bottom: 0; // Override the default
            margin-left: $card-deck-margin;
        }
    }
}

.card.card-left-content {
    @include media-breakpoint-up(md) {
        .card-body,
        .card-header {
            padding-left:195px!important
        }
    }
    @include media-breakpoint-up(xl) {
        .card-body,
        .card-header {
            padding-left: 345px!important;
        }
        .card-body {
            min-height: 190px;
        }
    }

}
.card-header-bg-image {
    color: $white;
    @include bg-cover();
    position: relative;
    &:before {
        content: '';
        background: -moz-linear-gradient(top, rgba(37,33,42,1) 0%, rgba(34,31,39,1) 7%, rgba(0,0,0,0.02) 98%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(37,33,42,1) 0%,rgba(34,31,39,1) 7%,rgba(0,0,0,0.02) 98%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(37,33,42,1) 0%,rgba(34,31,39,1) 7%,rgba(0,0,0,0.02) 98%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25212a', endColorstr='#00000000',GradientType=0 );
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        pointer-events: none;
    }

}

.card-title {
    margin: 0;
}

.card.card-lg {
    .card-body,
    .card-header {
        padding: 30px;
        @include media-breakpoint-up(lg) {
            padding: 40px 70px;
        }
    }
}
//
// Card groups
//

.card-group {
    display: flex;
    flex-direction: column;

    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
        margin-bottom: $card-group-margin;
    }

    @include media-breakpoint-up(sm) {
        flex-flow: row wrap;
        // The child selector allows nested `.card` within `.card-group`
        // to display properly.
        > .card {
            // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
            flex: 1 0 0%;
            margin-bottom: 0;

            + .card {
                margin-left: 0;
                border-left: 0;
            }

            // Handle rounded corners
            @if $enable-rounded {
                &:first-child {
                    @include border-right-radius(0);

                    .card-img-top,
                    .card-header {
                        border-top-right-radius: 0;
                    }
                    .card-img-bottom,
                    .card-footer {
                        border-bottom-right-radius: 0;
                    }
                }

                &:last-child {
                    @include border-left-radius(0);

                    .card-img-top,
                    .card-header {
                        border-top-left-radius: 0;
                    }
                    .card-img-bottom,
                    .card-footer {
                        border-bottom-left-radius: 0;
                    }
                }

                &:only-child {
                    @include border-radius($card-border-radius);

                    .card-img-top,
                    .card-header {
                        @include border-top-radius($card-border-radius);
                    }
                    .card-img-bottom,
                    .card-footer {
                        @include border-bottom-radius($card-border-radius);
                    }
                }

                &:not(:first-child):not(:last-child):not(:only-child) {
                    @include border-radius(0);

                    .card-img-top,
                    .card-img-bottom,
                    .card-header,
                    .card-footer {
                        @include border-radius(0);
                    }
                }
            }
        }
    }
}


//
// Columns
//

.card-columns {
    .card {
        margin-bottom: $card-columns-margin;
    }

    @include media-breakpoint-up(sm) {
        column-count: $card-columns-count;
        column-gap: $card-columns-gap;

        .card {
            display: inline-block; // Don't let them vertically span multiple columns
            width: 100%; // Don't let their width change
        }
    }
}

.card-header--left {
    margin-bottom: 20px;
    text-align: center;
    z-index: 1;
    @include media-breakpoint-up(md) {
        position: absolute;
        left: 30px;
        top: 60px;
    }

    @include media-breakpoint-up(xl) {
        position: absolute;
        left: 70px;
        top: 30px;
        bottom: auto;
    }
}

.card-avatar-image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid $white;
    position: relative;
    margin-bottom: 10px;
    margin: 0 auto 20px;
    z-index: 1;

    @include media-breakpoint-up(xl) {
        width: 200px;
        height: 200px;
        border: 12px solid $white;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}
