<div class="card">
    <div class="card-body">

        <div class="space-lg-b table-header">
            <div class="left">
                <h3>Game activities</h3>
            </div>
            <div class="right">
                <div class="form-inline">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control datepicker" placeholder="Nov, 11, 2018" >
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Game type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">MMORPG</a>
                            <a class="dropdown-item" href="#">Strategy</a>
                            <a class="dropdown-item" href="#">Arcade</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Platform
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">IOS</a>
                            <a class="dropdown-item" href="#">Android</a>
                            <a class="dropdown-item" href="#">X-box</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-md-scroll">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Date & time</th>
                    <th>Type</th>
                    <th>Platform</th>
                    <th>Force</th>
                    <th class="delete-col">delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button class="t-btn" data-toggle="collapse" data-target="#row_AssassinsCreed"><b>+</b></button>
                    </td>
                    <td class="game-name">Assassin’s Creed</td>
                    <td>2015-01-29 02:02:11</td>
                    <td>MMORPG</td>
                    <td>IOS</td>
                    <td>1 234.5</td>
                    <td class="delete-cel">
                        <button class="t-btn"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="collapse" id="row_AssassinsCreed">
                    <td colspan="7">
                        <div class="client-table-details">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Client ID</div>
                                    <div class="pl-4 text-small">F9erapi.com/c824604/v824604666/b43b6/WC8rY-FwNx</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Access token Url</div>
                                    <div class="pl-4 text-small">https://localhost:9443.club/shho-take-zero-ui-do-token</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Client secret</div>
                                    <div class="pl-4 text-small">C824604/v824604666/b43b6/WC8rY-FwBv</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Authorize URl</div>
                                    <div class="pl-4 text-small">https://localhost:9443.club/shho-take-zero-ui-do-token</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="t-btn" data-toggle="collapse" data-target="#row_Civilization"><b>+</b></button>
                    </td>
                    <td class="game-name">Civilization</td>
                    <td>2015-01-29 02:02:11</td>
                    <td>MMORPG</td>
                    <td>IOS</td>
                    <td>1 234.5</td>
                    <td class="delete-cel">
                        <button class="t-btn"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="collapse" id="row_Civilization">
                    <td colspan="7">
                        <div class="client-table-details">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Client ID</div>
                                    <div class="pl-4 text-small">F9erapi.com/c824604/v824604666/b43b6/WC8rY-FwNx</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Access token Url</div>
                                    <div class="pl-4 text-small">https://localhost:9443.club/shho-take-zero-ui-do-token</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Client secret</div>
                                    <div class="pl-4 text-small">C824604/v824604666/b43b6/WC8rY-FwBv</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Authorize URl</div>
                                    <div class="pl-4 text-small">https://localhost:9443.club/shho-take-zero-ui-do-token</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="t-btn" data-toggle="collapse" data-target="#row_Cryisis"><b>+</b></button>
                    </td>
                    <td class="game-name">Cryisis</td>
                    <td>2015-01-29 02:02:11</td>
                    <td>MMORPG</td>
                    <td>IOS</td>
                    <td>1 234.5</td>
                    <td class="delete-cel">
                        <button class="t-btn"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="collapse" id="row_Cryisis">
                    <td colspan="7">
                        <div class="client-table-details">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Client ID</div>
                                    <div class="pl-4 text-small">F9erapi.com/c824604/v824604666/b43b6/WC8rY-FwNx</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Access token Url</div>
                                    <div class="pl-4 text-small">https://localhost:9443.club/shho-take-zero-ui-do-token</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Client secret</div>
                                    <div class="pl-4 text-small">C824604/v824604666/b43b6/WC8rY-FwBv</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="text-accent">Authorize URl</div>
                                    <div class="pl-4 text-small">https://localhost:9443.club/shho-take-zero-ui-do-token</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
