<div class="card">
    <div class="card-body">

        <div class="space-lg-b table-header">
            <div class="left">
                <h3>Simple table</h3>
            </div>
            <div class="right">
                <div class="form-inline">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control datepicker" placeholder="Nov, 11, 2018" >
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transaction type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Quest</a>
                            <a class="dropdown-item" href="#">Honour</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Platform
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">IOS</a>
                            <a class="dropdown-item" href="#">Android</a>
                            <a class="dropdown-item" href="#">X-box</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-md-scroll">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th>Players</th>
                    <th>Registration time</th>
                    <th>Transactions</th>
                    <th>Income</th>
                    <th>Outcome</th>
                    <th class="small">Summ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Username</td>
                    <td>2015-01-29 02:02:11</td>
                    <td>Quest</td>
                    <td>50.5</td>
                    <td>73</td>
                    <td>1 234.5</td>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>2015-01-29 02:02:11</td>
                    <td>Honour</td>
                    <td>140.6</td>
                    <td>100</td>
                    <td>2 321.5</td>
                </tr>
                <tr>
                    <td>Superman</td>
                    <td>2015-01-29 02:02:11</td>
                    <td>Honour</td>
                    <td>272.5</td>
                    <td>200</td>
                    <td>2 321.5</td>
                </tr>

                </tbody>
            </table>
        </div>

        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
