<div class="card">
    <div class="card-body" style="background: url('img/card-image.png')">
        <br><br>
        <br><br>
        <h4>Card with background image</h4>
        <br><br>
        <br><br>
    </div>
</div>