<div class="card left-top--purple">
    <div class="card-body">
        <h3 class="text-primary">Headings</h3>
        <br><br>
        <h1>Heading h1</h1>
        <h2>Heading h2</h2>
        <h3>Heading h3</h3>
        <h4>Heading h4</h4>
        <h5>Heading h5</h5>
        <h6>Heading h6</h6>
        <br>
        <hr>
        <p>
            Paragraph <br>
            Lorem ipsum dolor sit amet, <a href="#">Simple link</a> consectetur adipisicing elit. Accusamus aliquam blanditiis commodi consequatur deleniti earum illo in magnam natus nostrum officia quisquam recusandae reprehenderit sequi, sit tenetur, vel voluptas voluptatem.
        </p>
        <hr>

        <br>
        <button class="btn btn-primary">Button primary</button>
        <button class="btn btn-primary btn-lg">Button primary</button>
        <button class="btn btn-primary btn-sm">Button primary</button>
        <br>
        <br>
        <button class="btn btn-gray">Button gray</button>
        <button class="btn btn-gray btn-lg">Button gray</button>
        <button class="btn btn-gray btn-sm">Button gray</button>
        <br>
        <br>
        <button class="btn btn-warning">Button warning</button>
        <button class="btn btn-warning btn-lg">Button warning</button>
        <button class="btn btn-warning btn-sm">Button warning</button>
        <br>
        <br>
        <button class="btn btn-success">Button success</button>
        <button class="btn btn-success btn-lg">Button success</button>
        <button class="btn btn-success btn-sm">Button success</button>
        <br>
        <br>
        <button class="btn btn-danger">Button danger</button>
        <button class="btn btn-danger btn-lg">Button danger</button>
        <button class="btn btn-danger btn-sm">Button danger</button>
        <br>
        <br>
    </div>
</div>