<div class="card card-lg card-left-content left-top--gold">
    <div class="card-header top-space card-header-bg-image" style="background-image: url('img/card-header-image2.jpg')">
        <div class="card-header--left">
            <div class="card-avatar-image">
                <img src="img/avatar-medium.png" alt="">
            </div>
            <div class="text-center">
                <a href="#" class="mr-2"><img src="img/android.png" alt=""></a>
                <a href="" class="ml-2"><img src="img/apple.png" alt=""></a>
            </div>
        </div>
        <div class="card-right-fixed float-md-right">
            <button class="overlay-btn btn-block">Edit game</button>
        </div>
    </div>
    <div class="card-body">
        <div class="d-table-xl">
            <div>
                <div class="float-right">
                    <div class="price-box">
                        <img src="img/force-mini.png" alt="">
                        <span class="amount">2 190</span>
                    </div>
                </div>
                <h2 class="mb-4">Assassin’s creed</h2>
                <p>Assassin's Creed is a franchise centered on an action-adventure video game series developed by Ubisoft. It depicts a centuries-old struggle pitting the Assassins, who fight for peace and free will, against the Templars, who believe peace comes through control of humanity.</p>
            </div>
            <div class="card-right-fixed pl-xxl-4">
                <button class="btn btn-gray btn-block mb-4">View game</button>
                <button class="btn btn-gray btn-block">Quests</button>
            </div>
        </div>
    </div>
</div>