<div class="card card-lg card-left-content left-top--gold">
    <div class="card-header card-header-bg-image text-center text-md-left" style="background-image: url('img/card-header-image.jpg')">
        <div class="card-header--left">
            <div class="card-avatar-image">
                <img src="img/avatar-medium.png" alt="">
            </div>
            <button class="link">Change photo</button>
        </div>
        <div class="float-md-right">
            <button class="settings-btm">Settings</button>
        </div>
        <h2 class="card-title">Card with image</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-9">
                <p>
                    Assassin's Creed is a franchise centered on an action-adventure video game series developed by Ubisoft. It depicts a centuries-old struggle pitting the Assassins, who fight for peace and free will, against the Templars, who believe peace comes through control of humanity.
                </p>
            </div>
            <div class="col-xl-3">
                <div class="amount-box">
                    <img src="img/triforce-icon.png" alt="">
                    <div class="price-lg">
                        14 300
                    </div>
                </div>
                <button class="link link-lg">Edit my force</button>
            </div>
        </div>
    </div>
</div>