<div class="card">
    <div class="card-body">

        <h4>Chart example</h4>
        <p>This is Chart.js . Read documentation here <a href="http://www.chartjs.org/docs/latest/getting-started/">here</a> .</p>


        <div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="chart-title">Force activities</div>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="bold-link text-dark">daily</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="bold-link">week</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="bold-link">month</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="bold-link text-primary">View full screen</a>
                    </li>
                </ul>
            </div>

            <div class="chart-wrapper">
                <canvas id="canvas" style="height:275px; width:100%"></canvas>
            </div>
        </div>

    </div>
</div>