<div class="card">
    <div class="card-body">
        <div class="corner right-bottom purple"></div>
        <div class="corner left-bottom purple"></div>
        <div class="corner right-top purple"></div>
        <div class="corner left-top purple"></div>
        <h5 style="color:#463d51">Card corners purple</h5>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="corner right-bottom gold"></div>
        <div class="corner left-bottom gold"></div>
        <div class="corner right-top gold"></div>
        <div class="corner left-top gold"></div>
        <h5 style="color:#c99a16">Card corners gold</h5>
    </div>
</div>

<div class="card bg-dark">
    <div class="card-body">
        <div class="corner right-bottom white"></div>
        <div class="corner left-bottom white"></div>
        <div class="corner right-top white"></div>
        <div class="corner left-top white"></div>
        <h5 style="color:#fff">Card corners white</h5>
    </div>
</div>
