<div class="card">
    <div class="card-body">
        <br><br>
        <h4>Cover pages:</h4>
        <br>
        <ul>
            <li><a href="confirm-mail.html">Confirm email</a></li>
            <li><a href="forgot-password.html">Forgot password</a></li>
            <li><a href="sign-in.html">Sign in</a></li>
        </ul>
        <br><br>
    </div>
</div>