<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-sm-8">
                <h3>Edit your account</h3>
            </div>
            <div class="col-sm-4 text-center text-md-right">
                <button class="btn btn-gray"><i class="fa fa-trash"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="card-body space-0-lg pb-0">
        <div class="card-body-inner accent-area">
            <div class="row">
                <div class="col-lg-7 col-xl-7">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="" class="input-label">Name</label>
                                <input type="text" class="form-control white" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="" class="input-label">Game platform</label>
                                <select class="custom-select">
                                    <option selected>Choose...</option>
                                    <option value="1">Xbox</option>
                                    <option value="2">IOS</option>
                                    <option value="3">Windows</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="input-label">Second name</label>
                        <div class="position-relative">
                            <div class="corner right-bottom gold"></div>
                            <textarea class="form-control white"
                                      name="" id="" cols="30" rows="5"
                                      placeholder="Description here"></textarea>
                        </div>
                    </div>
                </div>
                <div class="d-none d-xl-block col-lg-1">
                    <!-- spacer -->
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="form-group">
                        <label for="" class="input-label">
                            Profile image
                            <span class="requirements ml-5"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="Requirements list">
                                                requirements
                                            </span>
                        </label>
                        <div class="min-image-upload">
                            <div class="min-image-upload__container">
                                <span class="filename">Browse image</span>
                                <button>Upload</button>
                            </div>
                            <div class="img-preview">
                                <div class="img-rounded min">
                                    <img src="img/default.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label for="" class="input-label">Your email</label>
                        <input type="email" class="form-control white" placeholder="Email">
                    </div>
                    <button class="btn btn-primary mr-3 mb-2">change</button>
                    <button class="btn btn-gray mb-2">confirm</button>
                </div>
            </div>

            <h6 class="text-primary mb-3">Add quests</h6>
            <div class="card-body accent-area">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="input-label">Quest title</label>
                            <input type="text" class="form-control white" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="input-label">Description</label>
                            <input type="text" class="form-control white" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="input-label">Force reward</label>
                            <div class="d-flex justify-content-between">
                                <input type="text" class="form-control white" placeholder="Title">
                                <button class="btn btn-primary ml-3">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.card-body-inner.accent-area -->
    </div> <!-- /.card-body.space-0-lg -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <p class="d-flex align-items-center mb-md-0">
                    <img src="img/confirmed-email.png" class="mr-3" alt="">
                    <strong class="text-dark">Your email address confirmed successfully!</strong>
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                <button class="btn btn-primary btn-block">Save changes</button>
            </div>
        </div>
    </div>
</div>