<div class="card">
    <div class="card-body">

        <h4 class="mb-5">Games cards</h4>

        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="game-card">
                    <div class="game-card--image"
                         style="background-image: url(img/game-card-image.png)"></div>
                    <div class="game-card--content">
                        <div class="g-title">
                            Assassin’s Creed
                        </div>
                        <div class="row no-gutters">
                            <div class="col-8">
                                <div class="price-box d-inline-flex">
                                    <img src="img/force-mini2.png" alt="">
                                    <div class="amount smaller">3 210</div>
                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-end">
                                <div class="platform-icon">
                                    <i class="fa fa-apple"></i>
                                </div>
                            </div>
                        </div>
                        <div class="game-card--footer">
                            <div class="date">2018 Jan 29</div>
                            <div class="players">
                                <img src="img/gamepad.png" alt="">
                                <span class="players-amount">180</span>
                            </div>
                            <div class="readmore">MORE</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="game-card">
                    <div class="game-card--image"
                         style="background-image: url(img/game-card-image-01.png)"></div>
                    <div class="game-card--content">
                        <div class="g-title">
                            Gears of War Internet and very long name
                        </div>
                        <div class="row no-gutters">
                            <div class="col-8">
                                <div class="price-box d-inline-flex">
                                    <img src="img/force-mini2.png" alt="">
                                    <div class="amount smaller">1 500</div>
                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-end">
                                <div class="platform-icon">
                                    <i class="fa fa-apple"></i>
                                </div>
                            </div>
                        </div>
                        <div class="game-card--footer">
                            <div class="date">2018 Jan 29</div>
                            <div class="players">
                                <img src="img/gamepad.png" alt="">
                                <span class="players-amount">250</span>
                            </div>
                            <div class="readmore">MORE</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="game-card">
                    <div class="game-card--image"
                         style="background-image: url(img/game-card-image-02.png)"></div>
                    <div class="game-card--content">
                        <div class="g-title">
                            SkyRim Super Game
                        </div>
                        <div class="row no-gutters">
                            <div class="col-8">
                                <div class="price-box d-inline-flex">
                                    <img src="img/force-mini2.png" alt="">
                                    <div class="amount smaller">1 840</div>
                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-end">
                                <div class="platform-icon">
                                    <i class="fa fa-android"></i>
                                </div>
                            </div>
                        </div>
                        <div class="game-card--footer">
                            <div class="date">2018 Jan 29</div>
                            <div class="players">
                                <img src="img/gamepad.png" alt="">
                                <span class="players-amount">59</span>
                            </div>
                            <div class="readmore">MORE</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="game-card">
                    <div class="game-card--image"
                         style="background-image: url(img/game-card-image-03.png)"></div>
                    <div class="game-card--content">
                        <div class="g-title">
                            Android Mass Effect
                        </div>
                        <div class="row no-gutters">
                            <div class="col-8">
                                <div class="price-box d-inline-flex">
                                    <img src="img/force-mini2.png" alt="">
                                    <div class="amount smaller">2 240</div>
                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-end">
                                <div class="platform-icon">
                                    <i class="fa fa-android"></i>
                                </div>
                            </div>
                        </div>
                        <div class="game-card--footer">
                            <div class="date">2018 Jan 29</div>
                            <div class="players">
                                <img src="img/gamepad.png" alt="">
                                <span class="players-amount">325</span>
                            </div>
                            <div class="readmore">MORE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>