<div class="card">
    <div class="card-body">
        <br>
        <h3>Modal windows</h3>
        <br>
        <button class="btn btn-gray" data-toggle="modal" data-target="#smallModal">Modal small</button>
        <div id="smallModal" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <img src="img/close.png" alt="">
                    </button>
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title text-center">Small modal</h5>
                    </div>
                    <div class="modal-body pt-0">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti dolore dolores mollitia perspiciatis vero voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-gray" data-toggle="modal" data-target="#regularModal">Modal regular</button>
        <div id="regularModal" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <img src="img/close.png" alt="">
                    </button>
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title text-center">Regular modal</h5>
                    </div>
                    <div class="modal-body pt-0">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti dolore dolores mollitia perspiciatis vero voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-gray" data-target="#largeModal" data-toggle="modal">Modal large</button>
        <div id="largeModal" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">
                        <img src="img/close.png" alt="">
                    </button>
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title text-center">Regular modal</h5>
                    </div>
                    <div class="modal-body pt-0">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti dolore dolores mollitia perspiciatis vero voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>