<header class="page-header">
    <nav class="navbar navbar-expand-lg">
        <div class="header-content">
            <div class="header-menu">
                <div class="header-menu--left">
                    <div class="top-search">
                        <input class="form-control query" type="search" placeholder="Search">
                    </div>
                </div>
                <div class="header-menu--right">
                    <ul class="header-menu--right--menu">
                        <li><a href="#" class="btn btn-primary btn-lg">+ Add new game</a></li>
                    </ul>
                </div>
            </div>
            <a class="logo" href="#">
                <img src="img/favicon.png" alt="Triforce" style="width: 35px">
            </a>

            <button class="show-menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
    </nav>

    @@include('../helpers/account-dropdown.html')
</header>
