<aside class="sidebar">
    <div class="text-center">
        <a href="#" class="sidebar-logo">
            <img src="img/logo-text-white.png" alt="">
        </a>
    </div>

    <div class="sidebar-menu">
        <li><a href="#">Home</a></li>
        <li><a class="active" href="#">Games</a></li>
        <li><a href="#">Wallet</a></li>
    </div>

</aside>
<div class="sidebar-overlay"></div>